body{
    font-size:20px;
}

.mojiIn{
    width:100px;
}

.numIn{
    width: 40px;
}

button{
    background-color: #b0b0b0;
    width:50px;
    height:35px;
    border:0px;
    border-radius:0%;
}

.buttonA{
    background-color: #e08728;
}

select{
    width:30px;
}


table{
    border-collapse: collapse;
    border: 2px solid;
}

th,td{
    border:1px solid;
}
